.page__header{
background-color: black;
padding-top: 20px;

  .position{
   
   
    .titleOne{
      margin-left: 250px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: solid 2px;
      border-color: red;
      width: 800px;
      .imgContainer{
        width: 300px;
        padding-left: 50px;
      }
      .btnConectAp{
        margin-top: 15px;
        margin-left: 50px;
        font-family: $primaryFont;
        font-size: 20px;
        border-radius: 40px;
        width: 200px;
        cursor: pointer;
      }
      .btnConectAp:hover{
        background-color: gray;
      }
      .title{
        padding-top: 10px;
        font-family: $primaryFont;
        color: white;
        font-size: 20px;
      }
      .title2{
        font-family: $primaryFont;
        font-size: 14px;
        color: white;
      }
    }
    
    .subcontainerSearch{
      margin-top: 20px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      
      .textInput{
        font-family: $primaryFont;
        font-size: large;
        color: white;
      }
      .inputSearch{
        margin-top: 10px;      
        font-family: $primaryFont;      
        margin-left: 300px;
        border: solid 1px;
        color: black;
        border-radius: 5px;
        width: 600px;
        height: 40px;
        background-color: #1f1f1f;
        opacity: 1;
        
        
        
  
      }
      .btnSearch{
        background-color: #393c3e;
        opacity: 1;
        font-family: $primaryFont;
        color: white;
        border: solid 2px black;
        border-radius: 50%;
        width: 100px;
        cursor: pointer;
        margin-left: 50px;
        
      }
      .btnSearch:hover {
        background-color: gray;
      }
    }

  }
  
}
